<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table>
  <tr>
    <th>Image</th>
    <th>Score</th>
  </tr>
  {% for item in output %}
  <tr>
    <td><img src="{{ item[0] }}" /></td>
    <td>{{ item[1] }}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>
